.viewMail{
    max-width:80rem;
    border: 1px solid $pale_green;
    margin-bottom:10px;
    margin-left: 10px;
    margin-right: 10px;
    padding:1.2rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: large;
    @media(min-width: 45rem){
        width: 80rem;
        margin: 0 0 10px 0;
    }
}
