body{
    font-family: New Century Schoolbook, TeX Gyre Schola, serif
}
button {
    cursor: pointer;
  }
  
  button:disabled {
    cursor: default;
  }

  .is-active {
    font-weight: bold;
  }
 *{
   box-sizing: border-box;
 }
  